body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 90%);
}

#calculator {
  max-width: 500px;
  overflow: hidden;
  background-color: hsl(0, 0%, 10%);
  border-radius: 10px;
}

#display {
  width: 100%;
  text-align: left;
  color: white;
  background-color: hsl(0, 0%, 20%);
  font-size: 5rem;
  border: none;
  padding: 10px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 25%);
  color: white;
}

button:hover {
  background-color: hsl(0, 0%, 35%);
}

button:active {
  background-color: hsl(0, 0%, 45%);
}

.operator-btn {
  background-color: hsl(30, 100%, 55%);
}

.operator-btn:hover {
  background-color: hsl(30, 100%, 65%);
}

.operator-btn:active {
  background-color: hsl(30, 100%, 75%);
}
